/* =====================================================
   TABLET
===================================================== */

@media (max-width: 900px) {

    .navbar {
        gap: 15px;
    }

    .hero-content {
        grid-template-columns: 1fr;
    }

    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* =====================================================
   MOBILE
===================================================== */

@media (max-width: 700px) {

    .navbar {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        padding: 25px;
        background: white;
        border-bottom: 1px solid var(--border);
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        padding: 70px 0;
    }

    .hero h1 {
        font-size: 52px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .primary-btn,
    .secondary-btn {
        text-align: center;
    }

    .feature-grid,
    .steps,
    .course-grid,
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .section {
        padding: 65px 0;
    }

    .section-heading h2 {
        font-size: 32px;
    }

    .cta-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .cta-content h2 {
        font-size: 30px;
    }
}
/* =====================================================
   ABOUT RESPONSIVE
===================================================== */

@media (max-width: 700px) {

    .page-hero {
        padding: 65px 0;
    }

    .page-hero h1 {
        font-size: 40px;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about-text h2 {
        font-size: 32px;
    }

}


